{% extends 'base.html' %}

{% block title %}
    <title>Contact Page</title>
{% endblock %}

{% block content %}
    <h2>Pagina de contact</h2>
    <p>tel:123456789</p>
{% endblock %}
<!--<html>-->
<!--    <head>-->
<!--        <title>Contact Page</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <div>-->
<!--            <a href="/">Homepage</a>-->
<!--            <a href="/contact">Contact</a>-->
<!--        </div>-->
<!--        <h2>Pagina de contact</h2>-->
<!--        <p>tel:123456789</p>-->
<!--    </body>-->
<!--</html>-->